/* Load custom font family */
@font-face {
    font-family: 'Quicksand';
    src: url('#{resource["fonts/Quicksand.ttf"]}');
}

/*Global style clean up*/
* {
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

input:focus {
    outline: none;
}

/*Side Bar*/
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #03a9f4;
    width: 60px;
    height: 100%;
}

/*Header Bar*/
.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-left: 60px;
}

.header-bar h3 {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 0 0px 20px;
}

/*Form Container*/
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.input-row {
    margin: 15px 0;
    letter-spacing: 2px;
    font-weight: bold;
    color: #6f6f6f;
    font-size: 14px;
}

.input-row img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    margin-top: 18px;
}
.input-row input {
    width: 100%;
    padding: 10px 20px 10px 50px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
}

.input-row input:focus {
    outline: none;
}

.button-container {
    text-align: center;
}

.button-container input {
    border-radius: 25px;
    padding: 8px 30px;
    margin: 40px 0 0 0;
    color: white;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
    font-size: 16px;
    width: 200px;
}

.button-container input:focus {
    outline: none;
}

.horizontal-grid {
    display: flex;
}

.input-selector {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.input-selector p {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #6f6f6f;
    font-size: 14px;
}

select {
    width: 100px;
}

.data-table {
    margin: 30px 0;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-spacing:0;
    width: 100%;
}
.data-table td, .data-table th {
    padding: 10px 20px;
    border-collapse: collapse;
    font-size: 14px;
}

.data-table th {
    background-color: #03a9f4;
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}


.data-table thead tr th:first-child {
    border-top-left-radius: 15px;

}

.data-table thead tr th:last-child {
    border-top-right-radius: 15px;
}

.edit-input {
    width: 125px;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    font-size: 13px;
}

.edit-output {
    width: 25px;
    padding: 2px 5px;
    font-size: 13px;
}

.command-button {
    border-radius: 15px;
    padding: 2px 20px;
    color: #03a9f4;
    background-color: #fff;
    border: 1px solid #03a9f4;
    font-size: 10px;
    height: 30px;
    margin: 5px 0;
}

.container {
    width: 85%;
    margin: 80px auto 20px auto;
    background-color: #fff;
    border-radius: 10px;
}

.subcontainer {
    width: 85%;
    margin: 80px auto 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bottom-container {
    width: 85%;
    margin: 20px auto 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.secondary-button input {
    border-radius: 25px;
    padding: 5px 20px;
    color: #fff;
    background-color: #03a9f4;
    border: 1px solid #fff;
    font-size: 14px;
    width: 200px;
    height: 35px;
    margin: 5px 0;
}

#create-paygrade {
    display: flex;
    margin: 20px 0;
}

.input-column {
    width: 30%;
    margin-right: 20px;
}

.input-column input {
    width: 90%;
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
}

.subtable-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.subtable {
    width: 100%;
    padding: 0 10px;
}

.subtable-summary {
    display: flex;
    align-items: flex-end;
}

#inner-table {
    margin-top: 30px;
}

.sub-title {
    font-weight: bold;
}

.button-row {
    display: flex;
    justify-content: space-around;
}

.secondary-command-button {
    border-radius: 15px;
    padding: 2px 20px;
    color: #03a9f4;
    background-color: #fff;
    border: 1px solid #03a9f4;
    font-size: 10px;
}
