/* Load custom font family */
@font-face {
    font-family: 'Quicksand';
    src: url('#{resource["fonts/Quicksand.ttf"]}');
}

/*Global style clean up*/
* {
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

input:focus {
    outline: none;
}

/*Side Bar*/
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #03a9f4;
    width: 60px;
    height: 100%;
}

/*Header Bar*/
.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-left: 60px;
}

.header-bar h3 {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 0 0px 20px;
}

/*Form Container*/
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.input-row {
    margin: 15px 0;
    letter-spacing: 2px;
    font-weight: bold;
    color: #6f6f6f;
    font-size: 14px;
}

.input-row img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    margin-top: 18px;
}
.input-row input {
    width: 100%;
    padding: 10px 20px 10px 50px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
}

.input-row input:focus {
    outline: none;
}

.button-container {
    text-align: center;
}

.button-container input {
    border-radius: 25px;
    padding: 8px 30px;
    margin: 40px 0;
    color: white;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
    font-size: 16px;
    width: 200px;
}

.button-container input:focus {
    outline: none;
}

.horizontal-grid {
    display: flex;
}

.input-selector {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.input-selector p {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #6f6f6f;
    font-size: 14px;
}

select {
    width: 100px;
}
